@import "fonts.css";

:root {
  --primary: #112d4e;
  --secondary: #ffdc00;
  --background: #f9f7f7;
}

body,
html {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--primary);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1;

  ::selection {
    background: var(--secondary);
  }
}

a {
  margin: 0 10px;
  padding-bottom: 4px;
  text-decoration: none;
  font-weight: inherit;
  text-transform: lowercase;
  color: inherit;
  transition: all 0.1s ease;
  white-space: nowrap;
  border-bottom: 2px solid var(--secondary);

  &:hover {
    padding-bottom: 0;
    border-bottom: 4px solid var(--secondary);
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

footer,
header {
  text-align: center;
  font-size: small;
}

.project {
  margin: 80px 0;
  max-width: 750px;
  width: 100%;

  @media (min-width: 1000px) {
    margin: 100px 0;
  }

  @media (min-width: 1200px) {
    margin: 120px 0;
  }

  @media (min-width: 1600px) {
    margin: 140px 0;
  }

  .title {
    text-transform: uppercase;
  }

  a {
    font-size: small;
    font-weight: 400;
  }

  .description {
    margin-top: 0;
    font-size: 0.85rem;
    line-height: 1.75;
    text-align: justify;
  }
}

.chip {
  display: inline;
  background: #dbe2ef;
  padding: 3px 6px;
  border-radius: 3px;
  margin-right: 4px;
  white-space: nowrap;
  font-size: small;
  line-height: 2;
}
