@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
