name: Deploy website

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get install -y sshpass rsync

      - name: Deploy
        run: |
          sshpass -p '${{ secrets.FTP_PASSWORD }}' rsync -avz --delete \
            --exclude '.git' \
            --exclude '.github' \
            --exclude '.devcontainer' \
            --exclude 'README.md' \
            -e "ssh -o StrictHostKeyChecking=no" \
            ./ ${{ secrets.FTP_USER }}@${{ secrets.FTP_HOST }}:/home/www/nicograef.de/
